section {
    width: 100%;
    height: 80vh;
    background: var(--blue-bg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2),
        0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

section.schedule-section {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: var(--blue-bg);
}

/************************ my grades ************************/
.grades-wrapper {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    /* border-radius: inherit; */
}

.tabs {
    display: flex;
    gap: 0px;
    height: 10%;
}

.cards {
    background: rgba(0, 0, 0, 0.2);
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    /* margin-top: 20px; */
}

.marks-card {
    padding: 20px;
    border: 1px solid #ddd;
    aspect-ratio: 3/4;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
}
.marks-card>div>.radial-progress{
    transform: rotate(180deg);
    .gained-marks{
        transform: rotate(180deg);
        font-weight: bold;
    }
}

.tabs button {
    cursor: pointer;
    border: none;
    background: var(--blue-bg);
    background: transparent;
}

.tabs button.active {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}