.make-schedule{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.2);
    /* padding: 3rem; */
    height: 100%;
    width: 100%;
    border-radius: inherit;
}
.make-schedule .search-bar{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.make-schedule .classes-container{
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    overflow-y: auto;
    border-radius: inherit;
}

.make-schedule .classes-container .classItem{
    border-radius: 10px;
    width: 240px;
    aspect-ratio: 1;
    flex-shrink: none;
    background: rgba(0,0,0,0.2);
}